@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #f7f7f7;
    padding-bottom: 90px; /* espacio extra para evitar que el contenido se superponga al menú */
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*----- MENÚ ------*/

.bottom-nav {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-around;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    z-index: 15;
    border: 1px solid rgba(225, 225, 225, 0.7);
    backdrop-filter: blur(25px); /*important!!*/
    -webkit-backdrop-filter: blur(25px);
    box-shadow: -10px 5px 10px rgba(10, 10, 10, 0.1);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: color 0.3s; /* Transición suave para cambios de color */
}

.nav-item.active {
    color: #007bff;
}

.icon {
    font-size: 24px;
}

.label {
    font-size: 12px;
    text-align: center;
}

@media (min-width: 768px) {
    .nav-container {
      justify-content: space-evenly;
    }
  }

/*----- FIN MENÚ ------*/

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    width: calc(50% - 20px); /* Ajuste para dos tarjetas por línea en móvil */
    height: 0; /* Important to maintain the aspect ratio */
    padding-bottom: calc(50% - 20px); /* Padding-bottom to maintain the square aspect */
    box-sizing: border-box;
}

.card img {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 30px;
    height: 30px;
}

.card .username {
    position: absolute;
    width: calc(100% - 16px); /* Subtracting the padding and space for the icon */
    text-align: center;
    bottom: 8px; /* Adjust as needed */
    left: 8px;
}

/* Estilo para el elemento mientras se arrastra */
.dragging {
    opacity: 0.4; /* Haz el elemento arrastrado semi-transparente */
}

/* Estilo para el espacio vacío dejado por el elemento arrastrado */
.ghost {
    opacity: 0.4; /* Haz el espacio vacío visible con semi-transparencia */
    background: #C8EBFB; /* Color de fondo para el espacio vacío */
    border-style: dashed;
}

@media (min-width: 768px) {
    .card {
        width: calc(25% - 20px); /* Ajuste para cuatro tarjetas por línea en escritorio */
        padding-bottom: calc(25% - 20px); /* Padding-bottom to maintain the square aspect */
    }
}